body
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

input
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

select
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

textarea
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	width:550px;
	height:100px;
}

input.sendbutton
{
	background-color: #eeeeee;
	border: solid 1px #999999;
	margin: 20px;
}

input.fileinput
{
	background-color: #eeeeee;
	border: solid 1px #999999;
}

div.main
{
	width: 900px;
	margin: auto;
}

div.title
{
	width: 100%;
	vertical-align: bottom;
}

p.title
{
	color: #2b53b2;
	font: bold 29px Arial, sans-serif;
	padding-left: 30px;
}

img.title
{
	float: right;
}

div.container
{
	background-color: #FAFCFE;
	width: 100%;
	padding: 5px;
	border: 1px solid #555588;
}

table.container
{
	width: 100%;
}

input.downloadbutton
{
	background-color: #eeeeee;
	border: solid 1px #999999;
	margin-right: 19px;
}

input.trybutton
{
	background-color: #eeeeee;
	border: solid 1px #999999;
	margin-right: 17px;
}

tr.even td, tr.even th
{
    background-color: #fafcfe;
	height: 20px;
	padding: 2px;
}

tr.odd td, tr.odd th
{
    background-color: #eaf2f7;
	height: 20px;
	padding: 2px;		
}

div.group
{
	width: 95%;
	margin: auto;
}

table.group
{
	width: 100%;
	padding: 0px;
	border-width: 0px;
	margin: 0px;
}

p.group
{
	font-weight: bold;
}

table.list
{
	width: 90%;
	border: solid 1px #999999;
	margin: auto;
}

div.error
{
	vertical-align: middle;
	text-align: center;
	display:block;
	width: 100%;
	color: #FF0000;
}